<div class="jumbotron text-center">
  <h1 class="display-3">
    Get your contractor and bulding and arrange new order!
  </h1>
  <p class="lead">
    Opis
  </p>
  <a href="/" class="btn btn-dark btn-lg">
    Add order
  </a>
</div>