<div class="jumbotron text-center">
  <h1 class="display-4">
    Get your contractor and bulding and arrange new order!
  </h1>
  <a href="/" class="btn btn-dark btn-lg">
    Add order
  </a>
</div>
<div class="jumbotron text-center">
  TOP 5 Constructors - all bookings
  <li class="list-group-item list-group-item-action">
    item 1
  </li>
  <li class="list-group-item list-group-item-action">
    item 1
  </li>
  <li class="list-group-item list-group-item-action">
    item 1
  </li>
  <li class="list-group-item list-group-item-action">
    item 1
  </li>
  <li class="list-group-item list-group-item-action">
    item 1
  </li>
</div>
<div class="jumbotron text-center">
  TOP 5 Constructors - upcoming bookings
</div>
<div class="jumbotron text-center">
  TOP 5 Buildings - upcoming bookings
</div>