<div class="jumbotron text-center">
  <h4 style="padding-bottom: 15px;">
    Select a contractor and a building and arrange new order!
  </h4>
  <a href="/" class="btn btn-dark btn-lg">
    Add booking
  </a>
</div>
<div class="jumbotron text-center">
  <h3>
    TOP 5 Contructors - all bookings
  </h3>
  {{#each top5_1}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>
<div class="jumbotron text-center">
  <h3>
    TOP 5 Contructors - upcoming bookings
  </h3>
  {{#each top5_2}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>
<div class="jumbotron text-center">
  <h3>
    TOP 5 Buildings - upcoming bookings
  </h3>
  {{#each top5_3}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>