<div class="jumbotron text-center">
  <a href="/" class="btn btn-dark btn-lg">
    Add booking
  </a>
</div>
<div class="jumbotron text-center">
  <h4>
    TOP 5 Contractors - all bookings
  </h4>
  {{#each top5_1}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>
<div class="jumbotron text-center">
  <h4>
    TOP 5 Contractors - upcoming bookings
  </h4>
  {{#each top5_2}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>
<div class="jumbotron text-center">
  <h4>
    TOP 5 Buildings - upcoming bookings
  </h4>
  {{#each top5_3}}
    <li class="list-group-item mb-2">
      {{{this}}}
    </li>
  {{/each}}
</div>