<div
  class="jumbotron text-center"
  style="padding-bottom: 25px; padding-top: 25px"
>
  <h3 style="padding-bottom: 15px;">
    Select a contractor and a building and arrange new order!
  </h3>
  <a href="/contractors/add" class="btn btn-dark btn-lg">
    Add contructor
  </a>
</div>
<div class="card card-body mb-2">
  <h4>
    Contractors
  </h4>
  <p>
    Details
  </p>
  <a href="/" class="btn btn-dark btn-block mb-2">
    Edit
  </a>
  <form method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" class="btn btn-danger btn-block" value="Delete" />
  </form>
</div>