<div class="jumbotron text-center">
  <a href="/contractors/add" class="btn btn-dark btn-lg">
    Add contractor
  </a>
</div>
{{#each contractors}}
  <div class="card card-body mb-2">
    <h5>
      {{this.fullName}}
    </h5>
    <p>
      {{this.city}}
    </p>
    <p>
      {{this.address}}
    </p>
    <a href="/" class="btn btn-dark btn-block mb-2">
      Edit
    </a>
    <form method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" class="btn btn-danger btn-block" value="Delete" />
    </form>
  </div>
{{/each}}