<div class="card card-body">
  <h3>
    New Booking
  </h3>
  <form action="/bookings/add/{{buildings.idBuildings}}" method="post">
    <div class="form-field mb-2">
      <label for="buildingFilter">
        Building
      </label>
      <select id="buildingFilter" class="form-control">
        <option>
          Choose building
        </option>
        {{#each buildings}}
        <option>
          {{this.address}}
        </option>
        {{/each}}
      </select>
    </div>
    <div class="form-group mb-2">
      <label for="startDate">
        Start date
      </label>
      <input type="date" class="form-control" name="startDate" required />
    </div>
    <div class="form-group mb-2">
      <label for="endDate">
        End date
      </label>
      <input type="date" class="form-control" name="endDate" required />
    </div>
    {{#if contractors}}
    <div class="form-field mb-2">
      <label for="contractorFilter">
        Available Contractor
      </label>
      <select id="contractorFilter" class="form-control">
        <option>
          Choose contractor
        </option>
        {{#each contractors}}
        <option>
          {{this.fullName}}
        </option>
        {{/each}}
      </select>
    </div>
    <button class="btn btn-primary">
      Submit
    </button>
    {{> _availableContractors}}
    {{else}}
  </form>
  <form action="/bookings/add/contractors">
    <button class="btn btn-primary">
      Search for contractors
    </button>
  </form>
  {{/if}}
</div>