<div class="card card-body">
  <h3>
    New Booking
  </h3>
  <form action="/contructors" method="post">
    <div class="form-group">
      <label for="fullName">
        Building
      </label>
      <input type="text" class="form-control" name="fullName" required />
    </div>
    <div class="form-group">
      <label for="city">
        Start date
      </label>
      <input type="text" class="form-control" name="city" required />
    </div>
    <div class="form-group">
      <label for="address">
        Contractor
      </label>
      <input type="text" class="form-control" name="address" required />
    </div>
    <button class="btn btn-primary">
      Submit
    </button>
  </form>
</div>