<div class="card card-body">
  <h3>
    New Booking
  </h3>
  <form action="/bookings/add/" method="post">
    <div class="form-field mb-2">
      <label for="buildingFilter">
        Building
      </label>
      <select id="buildingFilter" class="form-control" name="selectBuilding">
        <option>
          {{building}}
        </option>
      </select>
    </div>
    <div class="form-group mb-2">
      <label for="startDate">
        Start date
      </label>
      <input type="date" class="form-control" name="startDate" value={{startDate}} required />
    </div>
    <div class="form-group mb-2">
      <label for="endDate">
        End date
      </label>
      <input type="date" class="form-control" name="endDate" required />
    </div>
    <div class="form-field mb-2">
      <label for="contractorFilter">
        Available Contractors
      </label>
      <select id="contractorFilter" class="form-control" name="selectContractor">
        <option>
          Choose contractor
        </option>
        {{#each contractors}}
        <option>
          {{this.fullName}}
        </option>
        {{/each}}
      </select>
    </div>
    <button class="btn btn-primary mb-3">
      Submit
    </button>
  </form>
</div>