<div class="jumbotron text-center">
  <a href="/bookings/add" class="btn btn-dark btn-lg">
    Add booking
  </a>
</div>
{{#each bookings}}
  <div class="card card-body mb-2">
    <h5>
      Building:
      {{this.idBuilding}}
    </h5>
    <p datetime="YYYY-MM-DD">
      From:
      {{this.fromDate}}
    </p>
    <p>
      To:
      {{this.toDate}}
    </p>
    <p>
      Contractor:
      {{this.idContractor}}
    </p>
    <a href="/" class="btn btn-dark btn-block mb-2">
      Edit
    </a>
    <form method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" class="btn btn-danger btn-block" value="Delete" />
    </form>
  </div>
{{/each}}
fromDate", "toDate", "idContractor", "idBuilding