<div class="jumbotron text-center">
  <a href="/buildings/add" class="btn btn-dark btn-lg">
    Add building
  </a>
</div>
<div class="card card-body mb-2">
  <h4>
    Buildings
  </h4>
  <p>
    Details
  </p>
  <a href="/" class="btn btn-dark btn-block mb-2">
    Edit
  </a>
  <form method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" class="btn btn-danger btn-block" value="Delete" />
  </form>
</div>